{% extends "base.html" %}

{% block content %}
    <div class="column-md-6 offset-md-3">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            <br>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Username" name="username" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Password" name="password" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label" for="exampleCheck1">I want to be scammed</label>
            </div>
            <br>
            <button type="submit" class="btn btn-primary bg-dark">Login</button>
        </form>
    </div>
{% endblock %}
