{% extends "base.html" %}
{% block content %}
<div class="column-md-6 offset-md-3">
<form method="POST" style="text-align: left; width: 600px;">
{% csrf_token %}
<br>
<h1>Register</h1>
<br>
{% if form.errors %}    
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        You idiot, learn to create an account.
        {% for field in form %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
{{ form.as_p }}
<input type="submit" class="btn btn-secondary" name="Submit">
</form>
</div>
{% endblock %}