{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="mt-4 text-danger">Delete Appointment</h2>
    <p class="lead">Are you sure you want to cancell this appointment?</p>

    <div class="card p-3 shadow">
        <p><strong>Date:</strong> {{ appointment.date }}</p>
        <p><strong>Doctor:</strong> Dr. {{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }} ({{ appointment.doctor.doctor.specialization }})</p>
        <p><strong>Reason:</strong> {{ appointment.reason }}</p>

        <form method="post" class="mt-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'list_appointments' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
